; Comments start with ";", as in php.ini

; two-letter country code for the default language: see: http://www.gnu.org/software/gettext/manual/html_chapter/gettext_15.html
language = ""


[Database Connection]
db_type = ""  ; one of: "mssql", "mysql", "oci8" (Oracle 8/9), "postgres7" or "postgres8"
db_prefix = ""  ; do NOT add a trailing '_', this is automatically added
db_host = ""
db_user = ""
db_pass = ""
db_database = ""
